:root{
--lbg: #fff;
--lcolor: #000;
--lblurbg: #e8e8e8;/* rgba(0,0,0,0.09) */
--dbg: #0d181a;
--dcolor: #eaeaea;
--dblurbg: #232d2f;/* rgba(255,255,255,0.09) */
}
.light{
--bg: var(--lbg);
--color: var(--lcolor);
--blurbg: var(--lblurbg);
}
.dark{
--bg: var(--dbg);
--color: var(--dcolor);
--blurbg: var(--dblurbg);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial;
overflow-x: hidden;
}
body{
width: 100%;
background: var(--bg);
color: var(--color);
}
.calert > *:not(#calert, #testBox){ 
opacity: 0.4;
filter: brightness(70%) blur(2px);
pointer-events: none;
}
.result > *:not(#result){ 
opacity: 0.4;
filter: brightness(70%) blur(2px);
pointer-events: none;
}



/* navbar */
.nav{
width: 100%;
background: ;
display: flex;
align-items: center;
justify-content: space-between;
padding: 3vw;
}
.nav div{
display: flex;
align-items: center;
}
.nav div img{
width: 55px;
border-radius: 15px;
}
.nav div h1{
font-size: 20px;
font-weight: 700;
font-family: fantasy !important;
display: none;
}
.nav i{
font-size: 25px;
margin-right: 5px;
background: var(--blurbg);
padding: 10px;
border-radius: 100%;
}


@media(min-width: 600px){
.nav div h1{
display: flex;
margin-left: 1rem;
}
.nav{
padding: 2vw;
}}



/* container */
.container{
width: 90%;	
margin: 2rem auto 2rem auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: var(--blurbg);
border-radius: 5px;
padding: 1rem;
}

@media(min-width: 768px){
.container{
width: 80%;	
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}}


/* header */
.header{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.header h1{
font-size: 30px;
font-weight: 700;
font-family: fantasy !important;
}
.header p{
max-width: 350px;
margin-top: 0.7rem;
font-size: 15px;
font-weight: 400;
line-height: 1.5;
}
@media(min-width: 768px){
.header{
justify-content: flex-start !important;
align-items: flex-start;
padding: 0.5rem;
}}

/* box */
.box{
background: var(--bg);
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 2rem;
padding: 1.5rem 1rem;
}
.box h1{
font-size: 25px;
font-weight: 600;
}
.box select{
width: 90%;
max-width: 300px;
height: 45px;
margin-top: 25px;
border-radius: 5px;
padding: 0 10px;
background: rgba(0,0,0,0.09);
color: var(--color);
border: 1px solid #767676;
font-size: 14px;
outline: 0;
}
.box select:active{
outline: 5px solid var(--blurbg);
}
.box input[type="text"]{
width: 90%;
max-width: 300px;
height: 45px;
margin-top: 15px;
border-radius: 5px;
padding: 0 10px;
background: rgba(0,0,0,0.09);
color: var(--color);
border: 1px solid #767676;
font-size: 14px;
outline: 0;
}
.box input[type="text"]::placeholder{
color: var(--color);
opacity: 0.85;
}
.box input[type="text"]:active{
outline: 5px solid var(--blurbg);
}
.box .uploadButton{
width: 90%;
max-width: 300px;
height: 45px;
margin-top: 15px;
border-radius: 5px;
padding: 0 10px;
background: rgba(0,0,0,0.09);
color: var(--color);
border: 1px solid #767676;
font-size: 14px;
display: flex;
align-items: center;
justify-content: space-between;
}
.box .uploadButton p{
width: 80%;
max-width: auto;
margin-top: 0px;
border-radius: 0;
font-size: 14px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
opacity: 0.85;
}
.box .uploadButton i{
font-size: 22px;
color: #00a7dd;
display: none;
}
.box .uploadButton:active{
outline: 5px solid var(--blurbg);
}
.box p{
width: 90%;
max-width: 300px;
margin-top: 18px;
border-radius: 5px;
font-size: 15px;
}
.box div{
width: 90%;
max-width: 300px;
margin-top: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
}
.box div span{
display: flex;
align-items: center;
background: rgba(0,0,0,0.09);
color: var(--color);
border: 1px solid #767676;
font-size: 13px;
padding: 1px 5px;
border-radius: 3px;
margin-right: 5px;
}
.box div span input{
width: 30px;
height: 25px;
border: 0;
padding-left: 5px;
background: transparent;
color: var(--color);
border: 0;
outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.box button{
width: 90%;
max-width: 300px;
height: 50px;
margin-top: 25px;
border-radius: 5px;
padding: 0 8px;
background: #00b6f1;
color: #fff;
font-weight: 900;
font-size: 15px;
border: 5px solid rgba(0,0,0,0.1);
opacity: 0.6;
pointer-events: none;
}
/* border: 5px solid #00ace4; */

@media(min-width: 768px){
.box{
margin-top: 0;
align-self: flex-start;
}}



/* custom alert */
#calert{
width: 80%;
max-width: 350px;
background: var(--bg);
position: fixed;
z-index: 999;
transform: translate(-50%, -50%);
top: -400%;
left: 50%;
border: 0.5px solid rgba(0,0,0,0.25);
border-radius: 4px;
padding: 12px;
box-shadow: 0 0 1.5px 0.1px var(--dcolor);
}
#calert div:nth-of-type(1){
display: flex;
justify-content: space-between;
}
#calert div:nth-of-type(1) span{
display: flex;
align-items: center;
font-weight: 900;
font-size: 20px;
color: #00a7dd;
border-bottom: 2.5px solid #00a7dd;
}
#calert div:nth-of-type(1) i{
font-size: 20px;
background: var(--blurbg);
padding: 4px;
border-radius: 2px;
}
#calertPara{
margin: 8px 0 0 0;
background: var(--blurbg);
padding: 8px;
font-size: 15px;
line-height: 1.5;
}
#calertButtons{
margin: 8px 0 0 0;
display: flex;
justify-content: flex-end;
}
#calertButtons button{
height: 35px;
border-radius: 3px;
padding: 0 12px;
background: #00a7dd;
color: #fff;
font-weight: 400;
font-size: 14px;
border: 3px solid rgba(0,0,0,0.07);
margin-left: 8px;
}
#calertButtons button:active{
background: #0097c9;
}









/* main test box 🙂🙂🙂🙂 */
#testBox{
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 99;
background: var(--bg);
color: var(--color);
display: none;
overflow: scroll;
}
#testNav{
width: 100%;
background: var(--blurbg);
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 10px;
position: sticky;
top: 0;
}
#testNav p{
font-size: 19px;
font-weight: 600;
}
#testNav p i{
font-size: 22px;
margin-right: 3px;
}
#testNav div button{
height: 33px;
border-radius: 3px;
padding: 0 12px;
background: #00a7dd;
color: #fff;
font-weight: 400;
font-size: 14px;
border: 3px solid rgba(0,0,0,0.07);
}
#testNav div button:active{
background: #0097c9;
}
#testNav div i{
font-size: 22px;
margin-left: 5px;
background: var(--bg);
padding: 10px;
border-radius: 100%;
}


/* pdf container */
#pdfParent{
width: 100%;
height: calc(100vh - 110px);
margin: 0 auto;
background: #00a7dd;
padding: 10px;
overflow: hidden;
border-radius: 3px;
}
@media(max-height: 550px){
#pdfParent{
height: calc(100vh - 50px);
}}
#pdfContainer{
width: 100%;
height: 100%;
margin: 0 auto;
overflow: scroll;
}
.canvas-wrapper{
width: 100%;
margin-bottom: 16px;
}
canvas{
width: 100%;
margin: 0 auto;
display: block; 
}




/* section */
#testBox section{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
overflow: scroll;
}
@media(min-width: 600px){
#testBox section{
flex-direction: row;
align-items: flex-start;
}
#pdfParent{
width: 220%;
}}
@media(min-width: 1100px){
#pdfParent{
width: 190%;
}}

#optParent{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.optChild{
width: 100%;
height: 50px;
overflow: hidden;
background: var(--bg);
border-bottom: 0.5px solid var(--color);
transition: height 0.4s;
}
.optChild span{
background: var(--blurbg);
width: 100%;
height: 50px;
padding: 0 8px;
display: flex;
align-items: center;
position: sticky;
z-index: 2;
top: 0;
justify-content: space-between;
}
.optChild span h1{
font-size: 17px;
font-weight: 600;
}
.optChild span i{
font-size: 25px;
font-weight: 700;
}
.optChild div{
padding: 8px;
display: flex;
flex-wrap: wrap;
}
.optChild div p{
display: flex;
align-items: center;
font-size: 16px;
font-weight: 500;
margin: 9px;
overflow-x: visible;
}
.optChild div p input[type="radio"]{
appearance: none; 
-webkit-appearance: none;
border-radius: 100%;
accent-color: #00b6f1;
border: 3px solid var(--blurbg);
box-shadow: 0 0 0 0.5px var(--color);
width: 16px;
height: 16px;
background: var(--bg);
margin-left: 5px;
}
.optChild div p input[type="radio"]:checked{
background: #00b6f1;
box-shadow: 0 0 0 1px #00b6f1;
}
.optChild div p input[type="number"]{
width: 82px;
margin-left: 6px;
padding: 2px;
height: 18px;
color: var(--color);
outline: 0.1px solid var(--color);
border: 0;
background: var(--bg);
border-radius: 2px;
}





/* reuslts */
#result{
width: 95%;
max-width: 380px;
background: var(--bg);
position: fixed;
z-index: 100;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
border: 4px solid #00a7dd;
border-radius: 8px;
padding: 12px 1rem;
display: none;
}
@media(min-width: 600px){
#result{
max-width: 420px;				
}}
#result h1{
font-size: 18px;		
font-weight: 700;	
color: var(--color);
width: 100%;
}
#result p{
font-size: 15px;		
font-weight: 500;	
color: var(--color);
margin-top: 14px;
background: var(--blurbg);
display: inline-block;
padding: 10px 10px 5px 10px;
border-radius: 4px 4px 0 0;
}
.answers{
width: 100%;
max-height: 80px;
padding: 10px;
display: flex;
flex-wrap: wrap;
font-size: 14px;
background: var(--blurbg);
border-radius: 0 4px 4px 4px;
line-height: 1.6;
overflow-y: scroll;
overflow-x: hidden;
}
#result .answers span{
margin-right: 10px;
}

#result div:nth-of-type(4){
width: 100%;
margin-top: 1rem;
display: flex;
align-items: center;
justify-content: flex-end;
}
#result div:nth-of-type(4) button{
height: 35px;
border-radius: 3px;
padding: 0 12px;
background: #00a7dd;
color: #fff;
font-weight: 400;
font-size: 14px;
border: 3px solid rgba(0,0,0,0.07);
margin-left: 6px;
}

.answers::-webkit-scrollbar{
width: 8px;
background: transparent;
}
.answers::-webkit-scrollbar-track{
background: transparent;
box-shadow: inset 0 0 0 10px var(--blurbg);
}
.answers::-webkit-scrollbar-thumb{
background: #00a7dd;
}



/* stored result */
#storedBox{
width: 90%;	
margin: 2rem auto;
display: flex;
flex-wrap: wrap;
align-items: center;
background: var(--blurbg);
border-radius: 5px;
padding: 2.5rem 1rem 1rem 1rem;
position: relative;
}
@media(min-width: 768px){
#storedBox{
width: 80%;	
}}

#storedBox h1::before{
content: 'Previous Tests';
position: absolute;
left: 0;
top: 0;
background: #00a7dd;
color: #fff;
font-size: 16px;
font-weight: 500;
padding: 7px 10px;
border-radius: 0 0 5px 0;
}
.storedResult{
width: 155px;
background: var(--bg);
padding: 8px 8px 10px 8px;
border-radius: 5px;
margin: 8px;
}
.storedResult p{
display: flex;
width: 100%;
opacity: 0.8;
font-size: 14px;
line-height: 1.5;
}
.storedResult h2{
font-size: 15px;
font-weight: 500;
margin-top: 8px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
